<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:fc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>All users</title>
        <h:outputStylesheet library="css" name="table-style.css"  />
    </h:head>
    <h:body>
        <h2>
            <h:outputText value="#{bundle.AllUsers}"/>
        </h2>

        <h:dataTable value="#{dukesBDay.firstcupUsers}" var="u"
                     styleClass="user-table"
                     headerClass="user-table-header"
                     rowClasses="user-table-odd-row,user-table-even-row"
                     >

            <h:column>
                <f:facet name="header">Id</f:facet>
                    #{u.id}
            </h:column>
            <h:column>
                <f:facet name="header">Birthday</f:facet>
                    #{u.birthday.time}
            </h:column>
            <h:column>
                <f:facet name="header">Age Difference with Duke</f:facet>
                    #{u.ageDifference}
            </h:column>
        </h:dataTable>
        <p/>     
        <h:form>
            <h:commandButton id="back" value="#{bundle.Back}" action="greeting"/>
        </h:form>
    </h:body>
</html>

